{% extends "pages/base.html" %}
{% block title %}
Thông tin cá nhân
{% endblock %}
{% block content %}
<div class="col" style="margin-left: 15px;">
    <p style="color: chocolate; font-weight: 600; font-size: 25px;">Thông tin cá nhân</p>
    <p> <b style="color: chocolate; font-size: 17px; "> Họ và tên:</b> HUỲNH THỊ THANH SANG</p>
    <p> <b style="color: chocolate; font-size: 17px; "> Năm sinh: </b> 2002</p>
    <p> <b style="color: chocolate; font-size: 17px; "> Chiều cao: </b> 1m58</p>
    <p> <b style="color: chocolate; font-size: 17px; "> Quê quán: </b> Bình Định</p>
    <p><b style="color: chocolate; font-size: 17px; ">Là một lập trình viên nữ ^^ :  </b> Sinh viên năm 3 tại trường ĐH Đông Á</p>
</div>
{% endblock %}
